.flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 760px;
    margin: 0 auto;
}

mat-card {
    width: calc((100% - 32px) / 3);

    & img {
        height: 100%;
        object-fit: cover;
    }
}